@mixin buttonBase {
    button {
        outline: none;
        background-color: transparent;
        border: none;
    }
}

.container {
    @include buttonBase;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 169px;
    border: 1px solid #FEFAEB;
    box-sizing: border-box;
    textarea{
        margin-top: 10px;
        border: none;
        color: #FEFAEB;
        background-color: transparent;
        resize:none;
        height: 45px;
        max-height: 125px;
        width: 80%;
        &:focus {
            outline: none;
        }
    }
}

.subTodoContainer {
    @include buttonBase;
    margin-left: 40px;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 4px;
}

.add_btn{
    width: 70px;
    height: 70px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}