.container {
  margin-bottom: 22px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  p {
    color: #F8F5EE;
    font-family: Kanit, sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.2px;
    padding: 5px 3px;
    border-bottom: 2px solid #F8F5EE;
  }
}

.wrapper {
  position: relative;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-180deg);
  right: -40px;
}

.wrapper_edit {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.leftArrow_edit {
  
}

.save_button {
  background : none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: rgba(241, 241, 241, 0.675);
  border: none;
  cursor: pointer;
  &:hover {
    color: #F8F5EE;
  }
}
